@model IEnumerable<FClub.Models.Models.Activitty>

<h3>Activities</h3>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivittyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromToPeriod)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActivittyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor.FulName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromToPeriod.Id)
            </td>
            <td>
                <a asp-action="Upsert" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
