@model IEnumerable<FClub.Models.Models.DTOs.ShoppingCart>
@{ 
	var total = 0;
}
@if (Model.Any())
{
	<div class="container-fluid py-3">
		<div class="col-md-12">
			<div class="card-header bg-dark text-light rounded">
				<h3 style="display:inline-block"><i class="fas fa-shopping-cart"></i> &nbsp; Shopping cart items</h3>
				<a asp-controller="Home" asp-action="Index" class="btn btn-outline-success offset-5">Continue shopping</a>
				<a asp-action="ClearCart" class="btn btn-outline-danger">Clear cart</a>
			</div>
			<div class="card-body border">
				<div>
						<table class="table table-borderless table-responsive">
							<tr>
								<th>Activity</th>
								<th>Price</th>
								<th></th>
							</tr>
							<tbody>
								@foreach (var item in Model)
								{
									{ total = total + item.PriceSelected; }
									<tr>
										<td>@item.Activity.ActivittyName</td>
										<td>
											$@item.PriceSelected
											(
											@if (item.PriceSelected == item.Activity.FreePass)
											{<label asp-for="@item.Activity.FreePass"></label>}
											else if (item.PriceSelected == item.Activity.PricePerClass)
											{<label asp-for="@item.Activity.PricePerClass"></label>}
											else if (item.PriceSelected == item.Activity.PricePerMonth)
											{<label asp-for="@item.Activity.PricePerMonth"></label>}
											else
											{<label asp-for="@item.Activity.PricePer3Months"></label>}
											)
										</td>
										<td>
											<a asp-action="Remove" asp-route-id="@item.ActivityId" class="btn btn-danger">
												<i class="fas fa-trash"></i>Remove from cart
											</a>
										</td>
									</tr>
								}
							</tbody>
						</table>
						<div>
							<label class="ml-3 text-danger">Total:</label>
							<span class="ml-lg-5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$@total</span>
							<a asp-action="Summary" class=" btn btn-outline-success offset-2">Continue</a>
						</div>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<p>No items in cart!</p>
}
