@model FClub.Models.Models.ViewModels.SummaryVM
@{ var total = 0;}
<div class="container-fluid">
	<div class="card">
		<div class="card-header">
			<h3>Summary</h3>
		</div>
		<form method="post" id="payment-form">
			<input type="hidden" asp-for="AppUser.Id" />
			<div class="card-body">
				<div class="row">
					<div class="col-md-6">
						<hr />
						<div class="card-group">
							<label asp-for="@Model.AppUser.Name"></label>
							<input asp-for="@Model.AppUser.Name" class="form-control" />
							<span asp-validation-for="@Model.AppUser.Name"></span>
						</div>
						<div class="card-group">
							<label asp-for="@Model.AppUser.LastName"></label>
							<input asp-for="@Model.AppUser.LastName" class="form-control" />
							<span asp-validation-for="@Model.AppUser.LastName"></span>
						</div>
						<div class="card-group">
							<label asp-for="@Model.AppUser.Email"></label>
							<input asp-for="@Model.AppUser.Username" class="form-control" />
							<span asp-validation-for="@Model.AppUser.Email"></span>
						</div>
						<div class="card-group">
							<label asp-for="@Model.AppUser.Mobile"></label>
							<input asp-for="@Model.AppUser.Mobile" class="form-control" />
							<span asp-validation-for="@Model.AppUser.Mobile"></span>
						</div>
						<div class="card-group">
							<label asp-for="@Model.AppUser.Address"></label>
							<input asp-for="@Model.AppUser.Address" class="form-control" />
							<span asp-validation-for="@Model.AppUser.Address"></span>
						</div>
					</div>
					<div class="col-md-6">
						<table class="table table-borderless">
							<tr>
								<th>Activity</th>
								<th>Price</th>
								<th></th>
							</tr>
							<tbody>
								@foreach (var item in Model.ShoppingCarts)
								{
									<tr>
										<td>@item.Activity.ActivittyName</td>
										<td>$ @item.PriceSelected</td>
									</tr>
									{ total = total + item.PriceSelected; }
								}
							</tbody>
							<tfoot>
								<tr>
									<hr />
									<td class="text-danger">Total:</td>
									<td>$ @total</td>

								</tr>
							</tfoot>
						</table>
						<br />
						<hr />
						<div class="container">
							<div id="dropin-container"></div>
							<input id="nonce" name="payment_method_nonce" type="hidden" />
						</div>
						<div class="card-footer">
							<button type="submit" class="form-control btn btn-success">Submit order</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
@section Scripts{ 
	<script src="https://js.braintreegateway.com/web/dropin/1.32.1/js/dropin.min.js"></script>
<script>
	let client_token ="@ViewBag.ClientToken";
	var form = document.querySelector('#payment-form');
	braintree.dropin.create({
		authorization: client_token,
		container: '#dropin-container'
	}, function (createErr, instance) {
		form.addEventListener('submit', function () {
			event.preventDefault();
			//Add the nonce to the form and submit
			instance.requestPaymentMethod(function (err, payload) {
				// Submit payload.nonce to your server
				document.querySelector('#nonce').value = payload.nonce;
				form.submit();
			});
		});
	});
</script>
}