@model FClub.Models.Models.ViewModels.HomeDetailsVM
@{
	var tempdata = TempData["radio"];
}
<div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="card text-center">
				<form method="post">
					<input type="hidden" value="@tempdata" id="tempdata" />
					<div class="card-header">
						<input type="hidden" asp-for="@Model.Activity.Id" />
						<input type="hidden" asp-for="@Model.Activity.InstructorId" />
						<input type="hidden" asp-for="@Model.Activity.FromToPeriodId" />
						<div class="py-3">
							<h4 style="display:inline">@Model.Activity.ActivittyName</h4>
							<span class="btn btn-info offset-2" style="opacity:45%">@Model.Activity.FromToPeriod.Period</span>
							@foreach (var items in Model.Activity.ActivittyDays)
							{
								<span class="btn btn-info" style="opacity:45%">@items.WeekDay.WeekDay</span>
							}

						</div>
					</div>
					<div class="card-body ">
						<div class="py-3">
							<img src="@Model.Activity.Image" class="card-img img-fluid" style="width:auto;height:auto" />
						</div>
						<div class="py-1">
							<label asp-for="@Model.Activity.Instructor" style="opacity:45%"></label>
							<img src="@Model.Activity.Instructor.ProfilePicture" class="img-thumbnail img-fluid" style="width:50px; height:50px" />
							<a asp-action="Details" asp-controller="Instructor" asp-route-id="@Model.Activity.InstructorId" class="btn btn-info">@Model.Activity.Instructor.FulName</a>
						</div>
						<div class="py-1">
							<label style="opacity:45%">Available spaces:</label>&nbsp;
							<span>@Model.Activity.CurrentCapacity</span>
						</div>
						<div class="py-1">
							<p readonly>@Model.Activity.Description</p>
						</div>
					</div>
					<div class="card-footer text-left">

						<div class="py-3">
							@if (Model.InCart)
							{
								<div class="card-group">
									<span class="text-danger">Item already in cart!. Selected price: $@Model.PriceSelected </span>&nbsp;&nbsp;									
								</div>
							}
						<div class="card-columns py-1">
							<label asp-for="@Model.Activity.PricePerMonth"></label>&nbsp;
							<input type="hidden" asp-for="@Model.Activity.PricePerMonth" />
							<span>$@Model.Activity.PricePerMonth</span>&nbsp;
							<input type="radio" name="radio" value="2" asp-for="@Model.PriceSelected" class="form-check-inline" />
							<label asp-for="@Model.Activity.PricePer3Months"></label>&nbsp;
							<input type="hidden" asp-for="@Model.Activity.PricePer3Months" />
							<span>$@Model.Activity.PricePer3Months</span>
							<input type="radio" name="radio" value="3" asp-for="@Model.PriceSelected" class="form-check-inline" />
							<label asp-for="@Model.Activity.FreePass"></label>&nbsp;
							<input type="hidden" asp-for="@Model.Activity.FreePass" />
							<span>$@Model.Activity.FreePass</span>&nbsp;
							<input type="radio" name="radio" asp-for="@Model.PriceSelected" value="4" class="form-check-inline" />
						</div>
						<div>
							@if (Model.InCart)
							{
								<button type="submit" class="form-control btn btn-warning">Change selection</button>
							}
							else
							{
								<button type="submit" class="form-control btn btn-info">Add to cart</button>
							}
						</div>					

						</div>


					</div>
				</form>

			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>
@section Scripts{
	<script>
		document.addEventListener("DOMContentLoaded", () => {
			debugger;
			let priceSelected = document.getElementById("tempdata");
			if (priceSelected.value != 0) {
				let radios = document.getElementsByName("radio");
				for (var i = 0; i < radios.length; i++) {
					if (radios[i].value == priceSelected.value)
						radios[i].checked = true;
				}
			}

		})
	</script>
}