@model IEnumerable<FClub.Models.Models.Activitty>
<div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			@foreach (var item in Model)
			{
				<div class="card rounded">
					<div class="card-header">
						<h4 style="display:inline">@item.ActivittyName</h4>						
							<span class="btn btn-info offset-2" style="opacity:45%">@item.FromToPeriod.Period</span>
							@foreach (var items in item.ActivittyDays)
							{
								<span class="btn btn-info" style="opacity:45%">@items.WeekDay.WeekDay</span>
							}
					</div>
					<div class="card-body">
						<div class="py-3">
						<img src="@item.Image" class="card-img img-fluid" />
						</div>						
					</div>
					<div class="card-footer">						
							<a asp-action="Details" asp-route-id="@item.Id" class=" form-control btn btn-outline-info">Details</a>					
					</div>
				</div>
				<br />
			}
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
    
