@model FClub.Models.Models.ViewModels.OrderIndexVM
@if (Model.OrderHeaders.Count() > 0)
{
	<div class="container-fluid">
		<div class="row py-3">		
				<table class="table table-bordered">
					<tr>
						<th>Order #</th>
						<th>Customer name</th>
						<th>Order status</th>
						<th>Payment status</th>
						<th>Order total</th>
						<th></th>
					</tr>
					<tbody>
						@foreach (var item in Model.OrderHeaders)
						{
							<tr>
								<td>@item.Id</td>
								<td>@item.AppUser.FulName</td>
								<td>@item.OrderStatus</td>
								<td>@item.PaymentStatus</td>
								<td>$ @item.OrderTotal</td>
								<td>
									<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">Details</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
				<div Pagin="@Model.paginationModel" class-enabled="true" page-class="btn border" page-class-normal="btn btn-light"
					 page-class-selected="btn btn-info active text-dark" class="btn-group float-left box-shadow mb-5">
				</div>
			</div>
		</div>
	
}
else
{
	<p>No orders to display</p>
}
