@model FClub.Models.Models.ViewModels.LoginVM

<h4>Login</h4>
<hr />
<form method="post">
	<div class="row">
		<div class="col-6">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="@Model.Username" class="control-label"></label>
				<input asp-for="@Model.Username" class="form-control" />
				<span asp-validation-for="@Model.Username" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@Model.Password" class="control-label"></label>
				<input asp-for="@Model.Password" class="form-control" />
				<span asp-validation-for="@Model.Password" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@Model.RememberMe" class="control-label"></label>
				<input type="checkbox" asp-for="@Model.RememberMe" class="form-control" />
			</div>
			<div class="form-group">
				<button type="submit" class="form-control" />
			</div>
		</div>
	</div>
</form>
